:root {
	--underline-height: .5em;
	--transition-duration: .5s;
}

body {
	font-family: system-ui, sans-serif;
	background: whitesmoke;
	min-height: 100vh;
	color: black;
	font-family: "Poppins", sans-serif;
}

nav {
	position: relative;
	white-space: nowrap;
	background: white;
	padding: var(--underline-height) 0;
	margin: 2em 0;
	box-shadow: 0 1em 2em rgba(black, .05);
}

.underline {
	display: block;
	position: absolute;
	z-index: 0;
	bottom: 0;
	left: 0;
	height: var(--underline-height);
	width: 20%;
	background: black;
	pointer-events: none;
	mix-blend-mode: multiply;
	transition: transform var(--transition-duration) ease-in-out;
	&:nth-child(1)

{
	background: yellow;
	transition: calc(var(--transition-duration) * .8);
}

&:nth-child(2) {
	background: cyan;
	transition: calc(var(--transition-duration) * 1.2);
}

&:nth-child(3) {
	background: magenta;
}

}

a {
	display: inline-block;
	z-index: 10;
	width: 20%;
	padding: 1em 0;
	text-align: center;
	cursor: pointer;
}

nav.black {
	.underline

{
	background: #222;
	border-radius: .25em;
	height: calc(var(--underline-height) / 2);
	mix-blend-mode: initial;
}

}

nav.full {
	font-weight: bold;
	background: #111;
	color: white;
	.underline

{
	height: 100%;
	background: gold;
}

}

	/*BURGER RESPONSIVE*/

#hamburger-icon {
	margin: auto 0;
	display: none;
	cursor: pointer;
}

	#hamburger-icon div {
		width: 35px;
		height: 3px;
		background-color: black;
		margin: 6px 0;
		transition: 0.4s;
	}

.open .bar1 {
	-webkit-transform: rotate(-45deg) translate(-6px, 6px);
	transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
	opacity: 0;
}

.open .bar3 {
	-webkit-transform: rotate(45deg) translate(-6px, -8px);
	transform: rotate(45deg) translate(-6px, -8px);
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

.mobile-menu {
	display: none;
	position: absolute;
	top: 50px;
	left: 0;
	height: calc(100vh - 50px);
	width: 100%;

}

.open .mobile-menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.mobile-menu li {
	margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
	header nav {
		display: none;
	}

	#hamburger-icon {
		display: block;
	}
}